diction@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: "LucidaGrande";
	src: url('LucidaGrande.dfont');
}
h1 { font-weight: bold; }
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.hiddenValue { display: none; }

/* NWResize */
.NWResizeHandle {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eeeeee;
}

.NWResizeHandle.NWResizeHorizontalHandle {
	height: 100%;
	width: 10px;
	background-image: url(../images/NWListEditor/resize_horizontal.png);
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	cursor: col-resize;
}

.NWResizeHandle.NWResizeVerticalHandle {
	height: 10px;
	width: 100%;
	background-image: url(../images/NWListEditor/resize_vertical.png);
	border-top: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
	cursor: row-resize;
}

/* NWRows */
ul.NWRows {
	display: block;
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: auto;
	cursor: default;
}

ul.NWRows > li {
	padding: 2px 2px 3px 2px;
	height: 15px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	resize: none;
}


/* NWNonRow */
ul.NWRows > li.NWNonRow {
	padding: 2px 0px 3px 0px;
}


/* NWRow Category */
.NWRowCategoryHeader div.NWClosed {
	width: 10px;
	height: 15px;
	margin-left: 8px;
	margin-right: 2px;
	float: left;
	background-image: url(../images/NWRows/triangle.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.NWRowCategoryHeader div.NWClosed:active {
	width: 10px;
	height: 15px;
	margin-left: 8px;
	margin-right: 2px;
	float: left;
	background-image: url(../images/NWRows/triangle.png);
	background-repeat: no-repeat;
	background-position: -10px 0px;
}

.NWRowCategoryHeader div.NWOpen {
	width: 10px;
	height: 15px;
	margin-left: 7px;
	margin-right: 3px;
	float: left;
	background-image: url(../images/NWRows/triangle.png);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}

.NWRowCategoryHeader div.NWOpen:active {
	width: 10px;
	height: 15px;
	margin-left: 7px;
	margin-right: 3px;
	float: left;
	background-image: url(../images/NWRows/triangle.png);
	background-repeat: no-repeat;
	background-position: -10px -15px;
}

li.NWRowCategory > ul > li.NWRowCategoryHeader {
	padding-left: 20px !important;
}

.NWRowCategory {
	height: auto !important;
	padding: 0px !important;
}

.NWRowCategory > ul.NWRowsSelectable > li {
	padding-left: 40px;
}

.NWRowCategory > ul > li.NWRowCategory {
	padding-left: 0px;
}

.NWRowCategory > ul > li.NWRowCategory > ul > li {
	padding-left: 60px;
}


/* NWRowsSelectable */

ul.NWRowsSelectable li {
	height: 15px;
	padding: 2px 2px 3px 2px;
	cursor: default;
	background-image: url(../images/NWSidebar/selected.jpg);
	background-position: 0px -30px;
	background-repeat: repeat-x;
}

ul.NWRowsSelectable li.NWSelected {
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fa2e3), to(#2d69c1)) content padding;*/
	/*background-color: #6FA2E3;*/
	background-image: url(../images/NWSidebar/selected.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	color: #ffffff;
	text-shadow: 0px 1px 1px #444444;
}

ul.NWRowsSelectable.NWRowsSelectableFlat li {
	height: 15px;
	padding: 2px 2px 3px 2px;
	cursor: default;
	background: none;
}

ul.NWRowsSelectable.NWRowsSelectableFlat li.NWSelected {
	background-image: none;
	background-color: #3875d7;
	color: #ffffff;
	text-shadow: none;
}


/* NWLeft */
#NWLeft {
	display: block;
	float: left;
	height: 100%;
	/*width: 75%;*/
}

#NWLeft.NWRightClosed {
	width: 100%;
}


/* NWSidebarLeft */
#NWSidebarLeft {
	overflow-x: hidden;
	white-space: nowrap;
	/*resize: horizontal;*/
	/*min-height: 90%;*/
	/*max-height: 90%;*/
	max-width: 90%; 
	overflow: auto; 
	display: block; 
	float: left; 
	width: 200px; 
	/*height: 90%;*/
	background-color: #DEE3EC; 
	border-right: solid 1px #C5CCCD;
	border-bottom: solid 1px #C5CCCD;
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#NWSidebarLeft #NWSidebarLeftDrag {
	height: 100%;
	width: 10px;
	display: block;
	float: right;
	background-image: url(../images/NWListEditor/resize_horizontal.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eeeeee;
	border-left: solid 1px #dddddd;
}

#NWSidebarLeft ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#NWSidebarLeft ul.NWRowsSelectable li.NWNonSelectable:not(.NWSiteName), #NWListEditor ul.NWRowsSelectable li.NWNonSelectable {
	color: #999999;
}

#NWSidebarLeft ul.NWSites li.NWSiteName div.NWSiteIcon {
	width: 20px;
	height: 20px;
	margin-top: -2px;
	margin-bottom: -3px;
	margin-right: 2px;
	float: left;
	background-image: url(../images/NWSidebar/site.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#NWSidebarLeft ul.NWRowsSelectable li div.NWFile, #NWListEditor ul.NWRowsSelectable li div.NWFile {
	width: 20px;
	height: 17px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 2px;
	position: relative;
	top: -1px;
	background-image: url(../images/NWSidebar/file.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#NWSidebarLeft ul.NWRowsSelectable li div.NWDraft, #NWListEditor ul.NWRowsSelectable li div.NWDraft {
	width: 20px;
	height: 17px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 2px;
	position: relative;
	top: -1px;
	background-image: url(../images/NWSidebar/draft.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#NWSidebarLeft ul.NWRowsSelectable li div.NWLocked, #NWListEditor ul.NWRowsSelectable li div.NWLocked {
	width: 20px;
	height: 17px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 2px;
	position: relative;
	top: -1px;
	background-image: url(../images/NWSidebar/locked.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#NWSidebarLeft ul.NWRowsSelectable li div.NWList {
	width: 20px;
	height: 17px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 2px;
	position: relative;
	top: -1px;
	background-image: url(../images/NWSidebar/list.png);
	background-position: left top;
	background-repeat: no-repeat;
}


/* NWEdit */
#NWEdit {
	display: block;
	width: auto;
	/*height: 90%;*/
	background-color:#FFFFFF;
	overflow: hidden;
}

#NWEdit #NWListEditor {
	/*height: 200px;*/
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: solid 1px #aaaaaa;
	overflow: hidden;
	display: none;
}

#NWEdit #NWListEditor #NWListEditorBox {
	height: 170px;
	width: auto;
	padding: 0px;
	overflow: auto;
}

#NWEdit #NWListEditor #NWListEditorBox ul {
	min-height: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	list-style: none;
	background-image: url(../images/NWListEditor/list_alternating.jpg);
	background-repeat: repeat;
}

#NWEdit #NWListEditor #NWListEditorBox ul li {
	height: 15px;
	display: block;
	padding: 2px 5px 3px 10px;
	cursor: default;
}

#NWEdit #NWListEditor #NWListEditorFooter {
	height: 17px;
	padding: 6px 0px 6px 10px;
	background-image: url(../images/NWListEditor/resize_vertical.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eeeeee;
	border-top: solid 1px #dddddd;
	white-space: nowrap;
	overflow: hidden;
}

#NWEdit #NWListEditor #NWListEditorFooter div {
	display: block;
}

#NWEdit #NWListEditor #NWListEditorFooter #NWListEditorAdd {
	height: 17px;
	width: 85px;
	float: left;
	background-image: url(../images/NWListEditor/add_entry.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#NWEdit #NWListEditor #NWListEditorFooter #NWListEditorAdd:active {
	background-position: 0px -17px;
}

#NWEdit #NWListEditor #NWListEditorFooter #NWListEditorDelete {
	height: 17px;
	width: 85px;
	margin-left: 10px;
	float: left;
	background-image: url(../images/NWListEditor/delete.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#NWEdit #NWListEditor #NWListEditorFooter #NWListEditorDelete:active {
	background-position: 0px -17px;
}

#NWEdit #NWListEditor #NWListEditorFooter #NWListEditorFooterDrag {
	width: auto;
	height: 29px;
	margin: -6px 0px -6px 180px;
	cursor: row-resize;
	background: none;
	border: none;
}

#NWEdit > iframe {
	width: 100%;
	/*height: 100%;*/
	padding: 0px;
	margin: 0px 0px -4px 0px;
	border: none;
	background: none;
}

#NWEdit #NWQuickSelect {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	display: none;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#NWEdit #NWQuickSelect #NWQuickSelectCanvas {
	/*background-color: #CC33FF;*/
	position: absolute;
	z-index: 9999;
	/*top: -150px;
	left: 0px;*/
}

#NWEdit #NWQuickSelect > div > div {
	height: 300px;
	width: 300px;
	background-color:#CCFF00;
}

#NWEdit #NWQuickSelect #NWQuickSelectButtons .NWQuickSelectButton {
	position: absolute;
	top: -200px;
	height: 30px;
	width: 100px;
	text-align: center;
	background-color: #999999;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-icab-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
}


/* NWToolbar */
#NWToolbar {
	display: block;
	width: 100%;
	/*height: 10%;*/
	height: 55px;
	background-color: #E8E8EB;
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 0px 0px 0px;
}

#NWToolbar #NWToolbarButtons {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	margin: auto 0px auto 0px;
	white-space: nowrap;
}

#NWToolbar #NWToolbarButtons ul {
	padding: 0px;
	margin: 0px 5px 0px 5px;
	height: 48px;
	white-space: nowrap;
	float: left;
	width: auto;
}

#NWToolbar #NWToolbarButtons li {
	display: block;
	float: left;
	width: auto;
	height: 48px;
	cursor: default;
	margin: 0px 3px 0px 3px;
	padding: 0px 3px 0px 3px;
}

#NWToolbar #NWToolbarButtons .NWToolbarButtonIcon {
	width: 25px;
	height: 30px;
	margin: 1px auto 2px auto;
	background-image: url(../images/NWToolbar/toolbar_icons.png);
	background-repeat: no-repeat;
	cursor: default;
}

#NWToolbar #NWToolbarButtons .NWToolbarButtonName {
	text-align: center;
	font-size: 11px;
	cursor: default;
}

#NWToolbar #NWToolbarButtons li.NWToolbarSplitter {
	width: 1px;
	border-left: solid 1px #aaaaaa;
	margin: 0px 3px 0px 3px;
	padding: 0px;
}

#NWToolbar #NWToolbarButtons li.NWAddPage .NWToolbarButtonIcon {
	background-position: 0px 0px;
}

#NWToolbar #NWToolbarButtons li.NWAddPage:active .NWToolbarButtonIcon {
	background-position: 0px -30px;
}

#NWToolbar #NWToolbarButtons li.NWSaveDraft .NWToolbarButtonIcon {
	background-position: -100px 0px;
}

#NWToolbar #NWToolbarButtons li.NWSaveDraft:active .NWToolbarButtonIcon {
	background-position: -100px -30px;
}

#NWToolbar #NWToolbarButtons li.NWRevertDraft .NWToolbarButtonIcon {
	background-position: -125px 0px;
}

#NWToolbar #NWToolbarButtons li.NWRevertDraft:active .NWToolbarButtonIcon {
	background-position: -125px -30px;
}

#NWToolbar #NWToolbarButtons li.NWPublishSite .NWToolbarButtonIcon {
	background-position: -25px 0px;
}

#NWToolbar #NWToolbarButtons li.NWPublishSite:active .NWToolbarButtonIcon {
	background-position: -25px -30px;
}

#NWToolbar #NWToolbarButtons li.NWPreviewPage .NWToolbarButtonIcon {
	background-position: -50px 0px;
}

#NWToolbar #NWToolbarButtons li.NWPreviewPage:active .NWToolbarButtonIcon {
	background-position: -50px -30px;
}

#NWToolbar #NWToolbarButtons li.NWSettings .NWToolbarButtonIcon {
	background-position: -175px 0px;
}

#NWToolbar #NWToolbarButtons li.NWSettings:active .NWToolbarButtonIcon {
	background-position: -175px -30px;
}

#NWToolbar #NWToolbarButtons li.NWLogOut .NWToolbarButtonIcon {
	background-position: -150px 0px;
}

#NWToolbar #NWToolbarButtons li.NWLogOut:active .NWToolbarButtonIcon {
	background-position: -150px -30px;
}

#NWToolbar #NWToolbarButtons li.NWEditPanelToggle .NWToolbarButtonIcon {
	background-position: -75px 0px;
}

#NWToolbar #NWToolbarButtons li.NWEditPanelToggle:active .NWToolbarButtonIcon {
	background-position: -75px -30px;
}

/* NWChooseTemplate */
div.NWChooseTemplate {
	position: fixed;
	top: -460px;
	width: 100%;
	height: 0px;
	cursor: default;
}

div.NWChooseTemplate .NWTemplatesWindow {
	/*width: 650px;*/
	width: 630px;
	height: 400px;
	margin: auto;
	padding: 25px 20px 25px 20px;
	background-image: url(../images/NWTemplatesWindow/top-shadow.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: rgba(244,244,244,0.9);
	border-left: solid 1px rgba(0,0,0,0.4);
	border-right: solid 1px rgba(0,0,0,0.4);
	border-bottom: solid 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-o-box-shadow: 0px 3px 8px #000000;
	-icab-box-shadow: 0px 3px 8px #000000;
	-khtml-box-shadow: 0px 3px 8px #000000;
	box-shadow: 0px 3px 8px #000000;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesTitle {
	font-weight: bold;
	margin-bottom: 5px;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates {
	width: 100%;
	height: 330px;
	margin-bottom: 15px;
	background-color: #BEC4CC;
	overflow-y: scroll;
	border-top: solid 1px #888888;
	border-right: solid 1px #bbbbbb;
	border-bottom: solid 1px #bbbbbb;
	border-left: solid 1px #bbbbbb;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul {
	padding: 7px;
	margin: 0px;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul li {
	display: block;
	float: left;
	/*width: 150px;
	height: 165px;*/
	width: 93px;
	height: 146px;
	/*padding: 20px 29px 25px 28px;*/
	padding: 10px 29px 0px 28px;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul li .NWTemplatePreview {
	background-image: url(../images/NWTemplatesWindow/template.png);
	background-repeat: no-repeat;
	width: 93px;
	height: 120px;
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-o-box-shadow: 0px 3px 8px #000000;
	-icab-box-shadow: 0px 3px 8px #000000;
	-khtml-box-shadow: 0px 1px 3px #000000;
	box-shadow: 0px 3px 8px #000000;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul li.NWSelected .NWTemplatePreview {
	outline: solid 2px #FFF006;
	outline-offset: -2px;
}


div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul li.NWSelected:active .NWTemplatePreview {
	outline: none;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplates ul li .NWTemplateName {
	margin: auto;
	text-align: center;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesWindowBottom {
	width: 630px;
	margin: 0px -20px 0px -20px;
	padding: 20px 20px 0px 20px;
	border-top: solid 1px rgba(0,0,0,0.4);
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesWindowBottom .NWTemplatesWindowChoose {
	background-image: url(../images/NWTemplatesWindow/choose.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 17px;
	width: 85px;
	float: right;
	margin-left: 10px;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesWindowBottom .NWTemplatesWindowChoose:active {
	background-position: 0px -17px;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesWindowBottom .NWTemplatesWindowCancel {
	background-image: url(../images/NWTemplatesWindow/cancel.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 17px;
	width: 85px;
	float: right;
}

div.NWChooseTemplate .NWTemplatesWindow .NWTemplatesWindowBottom .NWTemplatesWindowCancel:active {
	background-position: 0px -17px;
}

/* NWLoadingWindow */
.NWLoading {
	position: fixed;
	top: -135px;
	width: 100%;
	height: 0px;
	cursor: default;
}

.NWLoading .NWLoadingWindow {
	width: 300px;
	height: 75px;
	margin: auto;
	padding: 25px 20px 25px 20px;
	background-image: url(../images/NWTemplatesWindow/top-shadow.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: rgba(244,244,244,0.9);
	border-left: solid 1px rgba(0,0,0,0.4);
	border-right: solid 1px rgba(0,0,0,0.4);
	border-bottom: solid 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-o-box-shadow: 0px 3px 8px #000000;
	-icab-box-shadow: 0px 3px 8px #000000;
	-khtml-box-shadow: 0px 3px 8px #000000;
	box-shadow: 0px 3px 8px #000000;
}

.NWLoading .NWLoadingWindow .NWLoadingBarContainer {
	/*height: 10px;*/
	height: 20px;
	width: 250px;
	margin: 20px auto 0px auto;
	/*background-image: url(../images/NWLoadingWindow/loading_bar.png);*/
	background-repeat: no-repeat;
	background-position: 0px -20px;
}

.NWLoading .NWLoadingWindow .NWLoadingBarContainer .NWLoadingBarLeft {
	height: 10px;
	/*width: 5px;*/
	/*background-image: url(../images/NWLoadingWindow/loading_bar.png);*/
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float: left;
}

.NWLoading .NWLoadingWindow .NWLoadingBarContainer .NWLoadingBar {
	/*height: 10px;*/
	height: 20px;
	width: 250px;
	/*background-image: url(../images/NWLoadingWindow/loading_bar.png);
	background-position: 0px -10px;*/
	background-image: url(../images/NWLoadingWindow/loading_wave.gif);
	background-repeat: no-repeat;
	float: left;
}

.NWLoading .NWLoadingWindow .NWLoadingBarContainer .NWLoadingBarRight {
	height: 10px;
	/*width: 5px;*/
	/*background-image: url(../images/NWLoadingWindow/loading_bar.png);*/
	background-position: -5px 0px;
	background-repeat: no-repeat;
	float: left;
}

.NWLoading .NWLoadingWindow .NWLoadingText {
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}


/* NWConfirmWindow */
#NWConfirm {
	position: fixed;
	top: -135px;
	width: 100%;
	height: 0px;
	cursor: default;
}

#NWConfirm #NWConfirmWindow {
	width: 370px;
	height: auto;
	margin: auto;
	padding: 25px 15px 15px 15px;
	background-image: url(../images/NWTemplatesWindow/top-shadow.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: rgba(244,244,244,0.9);
	border-left: solid 1px rgba(0,0,0,0.4);
	border-right: solid 1px rgba(0,0,0,0.4);
	border-bottom: solid 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-o-box-shadow: 0px 3px 8px #000000;
	-icab-box-shadow: 0px 3px 8px #000000;
	-khtml-box-shadow: 0px 3px 8px #000000;
	box-shadow: 0px 3px 8px #000000;
}

#NWConfirm #NWConfirmWindow #NWConfirmHeader {
	/*height: 10px;*/
	height: auto;
	width: auto;
	margin: 0px auto 0px auto;
	/*background-image: url(../images/NWConfirmWindow/loading_bar.png);*/
	background-repeat: no-repeat;
	background-position: 0px -20px;
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

#NWConfirm #NWConfirmWindow #NWConfirmText {
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #666666;
	margin-top: 10px;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons {
	height: 17px;
	width: auto;
	margin: 20px 0px 0px 0px;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons div {
	display: block;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons #NWConfirmYes {
	height: 17px;
	width: 85px;
	float: right;
	background-image: url(../images/NWConfirmWindow/yes.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons #NWConfirmYes:active {
	background-position: 0px -17px;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons #NWConfirmCancel {
	height: 17px;
	width: 85px;
	margin-right: 10px;
	float: right;
	background-image: url(../images/NWTemplatesWindow/cancel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#NWConfirm #NWConfirmWindow #NWConfirmButtons #NWConfirmCancel:active {
	background-position: 0px -17px;
}


/* NWRight */
#NWRight {
	display: block;
	float: right;
	height: 100%;
	/*width: 25%;*/
	width: 340px;
}

#NWRight.NWRightClosed {
	width: 0%;
	display: none;
}

#NWRight #NWRightResizeHandle {
	float: left;
	background-color: #5F656B;
	border-right: solid 1px #2F353B;
	border-left: solid 1px #2F353B;
	border-left: none;
}


/* NWSidebarRight */
#NWSidebarRight {
	display: block;
	height: 100%;
	width: auto;
	background-color: #3F454B;
	font-family: "Lucida Grande", "LucidaGrande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*overflow-x: visible;
	overflow-y: auto !important;*/
	overflow: hidden;
	position: relative;
}

/* NWSidebarRightCategories */
#NWSidebarRightCategories {
	height: 20px;
	width: auto;
	margin: 5px auto auto auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	
	-webkit-box-shadow: 0px 5px 5px #000000;
	-moz-box-shadow: 0px 5px 5px #000000;
	-o-box-shadow: 0px 5px 5px #000000;
	-icab-box-shadow: 0px 5px 5px #000000;
	-khtml-box-shadow: 0px 5px 5px #000000;
	box-shadow: 0px 5px 5px #000000;
}

#NWSidebarRightCategories ul {
	display: block;
	margin: auto;
	padding: 0px;
	height: 100%;
}

#NWSidebarRightCategories ul li {
	display: block;
	float: left;
	
	text-align: center;
	width: 50%;
	margin: 0px;
	cursor: default;
}

#NWSidebarRightCategories ul li:last-child {
	width: 50%;
}

#NWSidebarRightCategories ul li a {
	display: block;
	height: 20px;
	/*background-color: green;*/
	padding: 0px 3px 0px 3px;
	margin: 2px 0px 2px 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	color: #ffffff;
	
	/*-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-top-left-radius: 4px;*/
	/*border-left: solid 1px rgba(0,0,0,0.4);
	border-right: solid 1px rgba(0,0,0,0.4);
	border-bottom: solid 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 3px 8px #000000;
	-moz-box-shadow: 0px 3px 8px #000000;
	-o-box-shadow: 0px 3px 8px #000000;
	-icab-box-shadow: 0px 3px 8px #000000;
	-khtml-box-shadow: 0px 3px 8px #000000;
	box-shadow: 0px 3px 8px #000000;*/
}

#NWSidebarRightCategories ul li:first-child a {
	/*-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;*/
}

#NWSidebarRightCategories ul li:last-child a {
	border-right: none;
	/*-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;*/
}

#NWSidebarRightCategories ul li a span {
	display: inline-block;
	vertical-align: middle;
	padding-top: 1px;
	height: 19px;
	text-align: center;
}

#NWSidebarRightCategories ul li a .NWSidebarRightButtonStart {
	width: 15px;
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: no-repeat;
	background-position: 0px -84px;
	position: absolute;
	left: 0px;
}

#NWSidebarRightCategories ul li:first-child a .NWSidebarRightButtonStart {
	background-position: 0px 0px;
}

#NWSidebarRightCategories ul li a .NWSidebarRightButtonMiddle {
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: repeat-x;
	background-position: 0px -42px;
	width: auto;
	position: absolute;
	left: 15px;
	right: 15px;
}

#NWSidebarRightCategories ul li a .NWSidebarRightButtonEnd {
	width: 15px;
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: no-repeat;
	background-position: -15px -84px;
	position: absolute;
	right: 0px;
}

#NWSidebarRightCategories ul li:last-child a .NWSidebarRightButtonEnd {
	background-position: -15px 0px;
}

#NWSidebarRightCategories ul li a:active .NWSidebarRightButtonStart, #NWSidebarRightCategories ul li a.NWSelected .NWSidebarRightButtonStart {
	width: 15px;
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: no-repeat;
	background-position: 0px -105px;
	position: absolute;
	left: 0px;
}

#NWSidebarRightCategories ul li:first-child a:active .NWSidebarRightButtonStart, #NWSidebarRightCategories ul li:first-child a.NWSelected .NWSidebarRightButtonStart {
	background-position: 0px -21px;
}

#NWSidebarRightCategories ul li a:active .NWSidebarRightButtonMiddle, #NWSidebarRightCategories ul li a.NWSelected .NWSidebarRightButtonMiddle {
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: repeat-x;
	background-position: 0px -63px;
	width: auto;
	position: absolute;
	left: 15px;
	right: 15px;
}

#NWSidebarRightCategories ul li a:active .NWSidebarRightButtonEnd, #NWSidebarRightCategories ul li a.NWSelected .NWSidebarRightButtonEnd {
	width: 15px;
	background-image: url(../images/NWEditPanel/button.png);
	background-repeat: no-repeat;
	background-position: -15px -105px;
	position: absolute;
	right: 0px;
}

#NWSidebarRightCategories ul li:last-child a:active .NWSidebarRightButtonEnd, #NWSidebarRightCategories ul li:last-child a.NWSelected .NWSidebarRightButtonEnd {
	background-position: -15px -21px;
}


/* NWSidebarRightCategoriesContainer */
#NWSidebarRightCategoriesContainer {
	width: auto;
	height: auto;
	position: absolute;
	top: 32px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding: 2px 10px 8px 10px;
	resize: none;
	overflow-x: visible;
	overflow-y: auto !important;
}

#NWSidebarRightCategoriesContainer > div {
	display: none;
}


/* NWPageInfo */
#NWPageInfo {
	color: #ffffff;
	padding-top: 20px;
}

#NWPageInfo table {
	border: none;
	width: 100%;
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

#NWPageInfo table .NWPageInfoTitle {
	padding: 0px 5px 0px 0px;
	white-space: nowrap;
}

#NWPageInfo table .NWPageInfoInput {
	width: 100%;
}

#NWPageInfo table .NWPageInfoInput input {
	height: 13px;
	width: 100%;
	margin: 2px 0px 2px 0px;
}


/* NWEditPanel */

#NWEditPanel {
	color: #FFFFFF;
	height: auto;
	/*padding: 2px 10px 8px 10px;
	resize: none;*/
}

#NWEditPanel div.NWTitle {
	text-align: center;
	padding-bottom: 4px;
}

#NWEditPanel .NWEditPanelGroup {
	padding: 20px 10px 20px 10px;
	border-bottom: solid 1px #ffffff;
	margin: auto;
}

#NWEditPanel .NWEditPanelGroup:last-child {
	border-bottom: none;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls {
	height: 20px;
	margin: 0px 0px 15px 0px;
	clear: both;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls > a {
	display: block;
	float: left;
	height: 20px;
	width: 30px;
	background-repeat: no-repeat;
	cursor: default;
}


/* NWControlName */
#NWEditPanel .NWEditPanelGroup .NWEditControls .NWControlName {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}


/* NWDraggable */
.NWDraggable {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	width: 200px;
	overflow-y: hidden;
	padding: 0px 5px 5px 5px;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	display: none;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-icab-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 5px 15px #000000;
	-moz-box-shadow: 0px 5px 15px #000000;
	-o-box-shadow: 0px 5px 15px #000000;
	-icab-box-shadow: 0px 5px 15px #000000;
	-khtml-box-shadow: 0px 5px 15px #000000;
	box-shadow: 0px 5px 15px #000000;
}

.NWDraggable .NWDraggableToolbar {
	height: 19px;
	margin: 0px -5px 0px -5px;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-radius-topleft: 7px;
	border-radius-topright: 7px;
	-o-border-radius-topleft: 7px;
	-o-border-radius-topright: 7px;
	-icab-border-radius-topleft: 7px;
	-icab-border-radius-topright: 7px;
	-khtml-border-radius-topleft: 7px;
	-khtml-border-radius-topright: 7px;
	-webkit-border-radius-topleft: 7px;
	-webkit-border-radius-topright: 7px;
	-moz-border-top-left-radius: 7px;
	-moz-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-o-border-top-left-radius: 7px;
	-o-border-top-right-radius: 7px;
	-icab-border-top-left-radius: 7px;
	-icab-border-top-right-radius: 7px;
	-khtml-border-top-left-radius: 7px;
	-khtml-border-top-right-radius: 7px;
	cursor: default;
}

.NWDraggable .NWDraggableToolbar .NWDraggableClose {
	width: 13px;
	height: 13px;
	margin: 3px 2px 3px 3px;
	float: left;
	background-image: url(../images/NWEditPanel/close.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: default;
}

.NWDraggable .NWDraggableToolbar .NWDraggableClose:active {
	background-position: 0px -13px;
}

.NWDraggable .NWDraggableToolbar .NWDraggableTitle {
	font-size: 10px;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #333333;
	margin: 0px 18px 0px auto;
	padding-top: 4px;
	text-align: center;
}


/* NWColorPickerWindow */
.NWDraggable.NWColorPickerWindow {
	position: absolute;
	right: 19%;
}

/* NWInputWindow */
.NWDraggable.NWInputWindow {
	width: 400px;
	position: fixed;
}

.NWDraggable.NWInputWindow .NWInputWindowInstructions {
	font-weight: bold;
	margin-top: 5px;
}

.NWDraggable.NWInputWindow input {
	background: none;
	border: solid 1px #ffffff;
	height: 18px;
	font-size: 12px;
	width: 300px;
	margin: 5px 0px 5px 0px;
	color: #ffffff;
}


.NWDraggable.NWInputWindow.NWChangeColor input {
	width: 30px;
	margin-right: 10px;
	text-align: center;
}

/* NWQuickSelectOptions */
.NWDraggable.NWQuickSelectOptions {
	width: auto;
	position: absolute;
	left: 75%;
	top: 100px;
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons {
	margin-top: 7px;
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a {
	display: block;
	min-width: 175px;
	height: 25px;
	padding-top: 5px;
	padding-right: 5px;
	margin-bottom: 2px;
	border: solid 1px #666666;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a:hover {
	/*background-color: rgba(255,255,255,0.3);*/
	background-color: rgba(249,155,13,.95);
	border: solid 1px rgba(249,155,13,.95);
	color: #000000;
	cursor: default;
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a div {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 0px 5px 0px 5px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

/* NWInsertImageWindow */
.NWDraggable.NWInsertImageWindow {
	width: auto;
	position: absolute;
	top: 100px;
	left: 55%;
}

.NWDraggable.NWInsertImageWindow div.NWDraggableBody {
	margin-top: 7px;
	width: 430px;
}

.NWDraggable.NWInsertImageWindow div#NWInsertImagePreview {
	display: inline-block;
	/*border: solid 1px #ffffff;*/
	/*border: solid 2px rgba(0,0,0,0.8);*/
	background-color: rgba(255,255,255,0.95);
	margin: 0px 7px 0px 0px;
	padding: 100px 0px 100px 0px;
	width: 200px;
	/*height: 200px;*/
	text-align: center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-icab-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	/*background-color: #BEC4CC;*/
	border-top: solid 1px #888888;
	border-right: solid 1px #bbbbbb;
	border-bottom: solid 1px #bbbbbb;
	border-left: solid 1px #bbbbbb;
}

.NWDraggable.NWInsertImageWindow div#NWInsertImagePreview img {
	max-width: 200px;
	max-height: 200px;
	margin: -100px 0px -100px 0px;
	vertical-align: middle;
}

.NWDraggable.NWInsertImageWindow div.NWInsertImageOptions {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.NWDraggable.NWInsertImageWindow div.NWInsertImageOptions input {
	width: 120px;
}

/* NWButton */
a.NWButton {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	cursor: default;
	display: block;
	height: 20px;
}

a.NWButton:active {
	background-position: 0px -21px;
}

/* NWDone */
a.NWButton.NWDone {
	background-image: url(../images/NWEditPanel/done.png) !important;
	width: 50px !important;
	float: right !important;
}

/* NWQuickSelectOptions - Alignment */
.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a.NWAlignLeft div {
	background-image: url(../images/NWQuickSelect/align_left.png);
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a.NWAlignCenter div {
	background-image: url(../images/NWQuickSelect/align_center.png);
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a.NWAlignRight div {
	background-image: url(../images/NWQuickSelect/align_right.png);
}

.NWDraggable.NWQuickSelectOptions div.NWQuickSelectButtons > a.NWAlignFull div {
	background-image: url(../images/NWQuickSelect/align_full.png);
}

/* Input */
#NWEditPanel .NWEditPanelGroup .NWEditControls input[type="text"] {
	height: 13px;
	margin: 2px 0px 2px 0px;
	/*background: none;
	border: solid 1px #ffffff;
	color: #ffffff;
	resize: none;*/
}

#NWEditPanel .NWEditPanelGroup .NWEditControls select {
	background: none;
	border: solid 1px #ffffff;
	color: #ffffff;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls option {
	color: #000000;
}


/* NWFontStyle */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a {
	background-image: url(../images/NWEditPanel/bold-italic-underline-strike.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWBold {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWItalic {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWUnderline {
	background-position: -60px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWStrikethrough {
	background-position: -90px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWBold.NWSelected {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWItalic.NWSelected {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWUnderline.NWSelected {
	background-position: -60px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontStyle a.NWStrikethrough.NWSelected {
	background-position: -90px -21px;
}

/* NWFontColor */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a {
	background-image: url(../images/NWEditPanel/color-none.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a.NWFontColor {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a.NWFontColorInherit {
	background-position: -30px 0px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a.NWFontColor:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a.NWFontColorInherit:active {
	background-position: -30px -21px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontColor a.NWFontColor span {
	display: block;
	width: 16px;
	height: 10px;
	margin: 4px auto 6px auto;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual {
	background-image: url(../images/NWEditPanel/hex-rgb-hsl-hsv.png) !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHex {
	background-position: 0px 0px !important;
	margin-left: 4px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorRGB {
	background-position: -30px 0px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHSL {
	background-position: -60px 0px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHSV {
	background-position: -90px 0px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHex:active {
	background-position: 0px -21px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorRGB:active {
	background-position: -30px -21px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHSL:active {
	background-position: -60px -21px !important;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls a.NWColorPickerManual.NWColorHSV:active {
	background-position: -90px -21px !important;
}

/* NWHighlightColor */
#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a {
	background-image: url(../images/NWEditPanel/color-none.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColor {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColorNone {
	background-position: -30px 0px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColor:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColorNone:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColorNone.NWSelected {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWHighlightColor a.NWHighlightColor span {
	display: block;
	width: 16px;
	height: 10px;
	margin: 4px auto 6px auto;
}

/* NWBackgroundColor */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a {
	background-image: url(../images/NWEditPanel/color-none.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColor {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColorNone {
	background-position: -30px 0px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColor:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColorNone:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColorNone.NWSelected {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWBackgroundColor a.NWBackgroundColor span {
	display: block;
	width: 16px;
	height: 10px;
	margin: 4px auto 6px auto;
}

/* NWTextAlign */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign > a {
	background-image: url(../images/NWEditPanel/left-middle-right-justify.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignLeft {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignCenter {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignRight {
	background-position: -60px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignFull {
	background-position: -90px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignLeft:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignCenter:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignRight:active {
	background-position: -60px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextAlign a.NWAlignFull:active {
	background-position: -90px -21px;
}

/* NWFontSize */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize a {
	background-image: url(../images/NWEditPanel/font-size.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize a.NWIncreaseFontSize {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize a.NWDecreaseFontSize {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize a.NWIncreaseFontSize:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize a.NWDecreaseFontSize:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize input.NWShowFontSize {
	background: none;
	border: solid 1px #ffffff;
	color: #ffffff;
	resize: none;
	width: 40px;
	margin-left: 10px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize select.NWSetFontSize {
	background: none;
	border: solid 1px #ffffff;
	color: #ffffff;
	margin-left: 10px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWFontSize select.NWSetFontSize option {
	color: #000000;
}


/* NWTextPosition */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextPosition a {
	background-image: url(../images/NWEditPanel/super-sub.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextPosition a.NWTextSuper {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextPosition a.NWTextSub {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextPosition a.NWTextSuper.NWSelected {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWTextPosition a.NWTextSub.NWSelected {
	background-position: -30px -21px;
}

/* NWListStyle */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWListStyle a {
	background-image: url(../images/NWEditPanel/li-ol.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWListStyle a.NWUnorderedList {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWListStyle a.NWOrderedList {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWListStyle a.NWUnorderedList.NWSelected {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWListStyle a.NWOrderedList.NWSelected {
	background-position: -30px -21px;
}

/* NWLink */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWLink a {
	background-image: url(../images/NWEditPanel/link-unlink.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWLink a.NWCreateLink {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWLink a.NWDeleteLink {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWLink a.NWCreateLink:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWLink a.NWDeleteLink:active {
	background-position: -30px -21px;
}

/* NWIndentOutdent */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWIndentOutdent a {
	background-image: url(../images/NWEditPanel/indent-outdent.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWIndentOutdent a.NWIndent {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWIndentOutdent a.NWOutdent {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWIndentOutdent a.NWIndent:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWIndentOutdent a.NWOutdent:active {
	background-position: -30px -21px;
}

/* NWCustomHTML */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML a {
	background-image: url(../images/NWEditPanel/paragraph-html.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML a.NWInsertParagraph {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML a.NWInsertCustomHTML {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML a.NWInsertParagraph:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML a.NWInsertCustomHTML:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML > label {
	font-size: 10px;
	margin-left: 4px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWCustomHTML > label > input {
	font-size: 10px;
	vertical-align: top;
	width: 10px;
	height: 10px;
}

/* NWInsertImageURL */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWInsertImageURL > input {
	float: left;
}

/* NWDragNumber */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber {
	clear: none;
	float: left;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber span {
	float: left;
	margin-right: 4px;
	padding-top: 2px;
    font-size: 11px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber > a {
	background-image: url(../images/NWEditPanel/number-select.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber a.NWDecreaseNumber {
	background-position: 0px 0px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber input.NWDragNumber {
	background: url(../images/NWEditPanel/number-select.png);
	background-position: -15px 0px;
	width: 30px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	display: block;
	border: none;
	float: left;
	cursor: ew-resize;
	font-size: 9px;
	text-align: center;
	color: #ffffff;
    vertical-align: bottom;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber input.NWDragNumber:focus {
	outline: none;
    cursor: text;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber input.NWDragNumber.NWSelected {
	background-position: -15px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber a.NWIncreaseNumber {
	background-position: -45px 0px;
	width: 15px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber a.NWDecreaseNumber:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber input.NWDragNumber:active {
	background-position: -15px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWDragNumber a.NWIncreaseNumber:active {
	background-position: -45px -21px;
}

/* NWResizeProportional */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWResizeProportional {
	float: left;
	clear: none;
	margin-left: 8px;
	margin-right: 8px;
	/*padding-top: 2px;*/
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWResizeProportional a {
	background-image: url(../images/NWEditPanel/resize-link.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWResizeProportional a.NWResizeLink {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWResizeProportional a.NWResizeLink:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWResizeProportional a.NWResizeLink.NWSelected {
	background-position: 0px -21px;
}


/* NWObjectWrap */

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap {
    clear: left;
    float: left;
    margin-right: 20px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a {
	background-image: url(../images/NWEditPanel/object-align.png);
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapLeft {
	background-position: 0px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapRight {
	background-position: -30px 0px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapLeft:active {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapRight:active {
	background-position: -30px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapLeft.NWSelected {
	background-position: 0px -21px;
}

#NWEditPanel .NWEditPanelGroup .NWEditControls.NWObjectWrap a.NWObjectWrapRight.NWSelected {
	background-position: -30px -21px;
}

/* NWChangeMargin */
#NWEditPanel .NWEditPanelGroup .NWEditControls.NWChangeMargin {
    clear: right;
    float: none;
}